.App {
  text-align: center;
  background-color: #2F2D2E;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  font-size: larger;
  padding: 10px 20px;
  background-color: #008CBA; /* Blue color */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s; /* Transition effect duration */
  cursor: pointer;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: auto;
  margin-right: 10px;
}

    .button:hover {
      background-color: #4CAF50; /* Green color on hover */
      color: white;
    }

.login-button {
  font-size: larger;
  padding: 10px 20px;
  background-color: #008CBA; /* Blue color */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s; /* Transition effect duration */
  cursor: pointer;
  border-radius: 10px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}

    .login-button:hover {
      background-color: #4CAF50; /* Green color on hover */
      color: white;
    }

.header{
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #595f6d;
  box-shadow: 0px 0px 10px 0px #000000;
}

.content-block{
  display: flex;
  justify-content: space-between;
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  color: #9893c0;
  font-size: 16px;
}

h2, h3{
  color: #9893c0;
}

h1{
  color: #2CDA9D;
}



